<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-warning">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: menu-setting (currentMenu='profile')"></div>

            </div>
            <div class="col-7">
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-5" role="alert">
                    <span th:text="${message}">메세지</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true"></span>
                    </button>

                </div>
                <div class="row">
                    <h2 class="col-sm-12" th:text="${account.nickname}">닉네임</h2>

                </div>
                <div class="row mt-5">
                    <form class="col-sm-6" th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
                        <div class="form-group">
                            <label for="introduction">소개</label>
                            <input type="text" id="introduction" th:field="*{introduction}" class="form-control"
                                   placeholder="짧은 자기소개나 하고싶은 말??" aria-describedby="introHelp" required>
                            <small id="introHelp" class="form-text text-muted">
                                50자이내로 입력
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('introduction')}" th:errors="*{introduction}">소개를 짧게 입력해주세요</small>
                        </div>
                        <div class="form-group">
                            <label for="url">링크</label>
                            <input type="text" id="url" th:field="*{url}" class="form-control" placeholder="http://mysite.com" aria-describedby="urlHelp" required>
                            <small id="urlHelp" class="form-text text-muted">
                                사이트 넣고 싶은거 아무거나
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">
                                url 입력 양식이 다름
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="company">직업</label>
                            <input type="text" id="company" th:field="*{occupation}" class="form-control" placeholder="직업" aria-describedby="occupationHelp" required>
                            <small id="occupationHelp" class="form-text text-muted">
                                직업이 필요할까? 다른거 넣을까
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">
                                직업 입력 양식이 다름
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="location">활동 지역</label>
                            <input type="text" id="location" th:field="*{location}" class="form-control" placeholder="incheon" aria-describedby="locationHelp" required>
                            <small id="locationHelp" class="form-text text-muted">
                                써클 활동지역
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">
                                활동지역 입력 양식이 올바르지 않음
                            </small>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="profileImage" th:field="*{profileImage}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-block" aria-describedby="submitHelp">수정</button>
                        </div>

                    </form>
                    <div class="col-sm-6">
                        <div class="card text-center">
                            <div class="card-header">
                                프로필 이미지
                            </div>
                            <div id="current-profile-image" class="mt-5">
                                <svg th:if="${#strings.isEmpty(profile.profileImage)}" class="rounded" th:data-jdenticon-value="${account.nickname}"
                                     with="150" height="150"></svg>
                                <img th:if="${!#strings.isEmpty(profile.profileImage)}" class="rounded" th:src="${profile.profileImage}" width="150" height="150"
                                     th:alt="${account.nickname}" />
                            </div>
                            <div id="new-profile-image" class="mt-5"></div>
                            <div id="card-body">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="profile-image-file">
                                    <label class="custom-file-label" for="profile-image-file">프로필 이미지 변경</label>
                                </div>
                                <div id="new-profile-image-control" class="mt-5">
                                    <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                                    <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                                    <button class="btn btn-outline-warning btn-block" id="cancel-button">취소</button>
                                </div>
                                <div id="cropped-new-profile-image" class="mt-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
    <link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
    <script src="/node_modules/cropper/dist/jquery-cropper.min.js"></script>
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script>
    $(function(){
        cropper = '';
        let $cutBtn = $('#cut-button');
        let $confirmBtn = $('#confirm-button');
        let $cancelBtn = $('#cancel-button');
        let $newProfileImage = $('#new-profile-image');
        let $currentProfileImage = $('#current-profile-image');
        let $resultImage = $('#cropped-new-profile-image');
        let $profileImage = $('#profileImage');

        $confirmBtn.hide()
        $cancelBtn.hide()
        $cutBtn.hide()
        $newProfileImage.hide()

        $("#profile-image-file").on('change', function(e){
            if(e.target.files.length == 1){
                const reader = new FileReader();
                reader.onload = e => {
                    if(e.target.result){
                        let image = document.createElement("img");
                        image.id = 'new-profile';
                        image.src = e.target.result;
                        image.width = 240;

                        $newProfileImage.html(image);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(image);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        $confirmBtn.hide();
                        $cutBtn.show();
                        $cancelBtn.show();
                    }
                }
                reader.readAsDataURL(e.target.files[0]);
            }

        })

        $cancelBtn.on('click', function(){
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resultImage.hide();
            $cancelBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $profileImage.val('');
        });

        $cutBtn.on('click', function(){
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            let newImage = document.createElement('img');
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 150;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.on('click',function(){
                $newProfileImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val(dataUrl);
            });
        });
    })
    </script>


</body>
</html>