<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-warning">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: menu-setting (currentMenu='tag')"></div>

        </div>
        <div class="col-7">
            <div class="row-12">
                <h3 class="col-sm-12">좋아하는 서클 키워드</h3>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="alert alert-info" role="alert">
                        활동하고 싶은 서클을 입력하면, 나중에 해당 키워드의 서클이 생길 때, 알림을 받을 수 있음
                    </div>
                    <input type="text" id="tag" name="tagName" th:value="${#strings.listJoin(tag,',')}"/>
                    <input type="text" id="tagList" name="tagList" th:value="${#strings.listJoin(tagList,',')}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script th:inline="javascript">
    let csrfToken = /*[[${_csrf.token}]]*/ null;
    let csrfHeader = /*[[${_csrf.headerName}]]*/ null;
    $(document).ajaxSend(function(e,xhr,options){
        xhr.setRequestHeader(csrfHeader, csrfToken);
    });
</script>
<script>

$(function(){


    function tagAjaxReq(url,data){
         $.ajax({
            method : 'post',
            url : '/settings/tag'+url,
            data : JSON.stringify({'tagName' : data}),
            contentType : 'application/json',
            dataType : 'json',
            autocomplete:{
                enabled : true,
                rightKey : true
            },
        }).done(function(data,status){
            alert(succ)
                    $('tags').eq(1).attr('readonly',true);
        })
    }

    var input = document.querySelector('input[name=tagName]'),
    tagify = new Tagify(input, {
        pattern             : /^.{0,10}$/,
        delimiters          : ",| ",        // add new tags when a comma or a space character is entered
        keepInvalidTags     : true,         // do not remove invalid tags (but keep them marked as invalid)
        editTags            : 1,            // single click to edit a tag
        maxTags             : 6,
        transformTag        : transformTag,
        backspace           : "edit",
        placeholder         : "type something",
        dropdown : {
            enabled: 3,
        }
    })

        var ouput = document.querySelector('input[name=tagList]'),
    outputTagify = new Tagify(ouput, {
        pattern             : /^.{0,10}$/,
        delimiters          : ",| ",        // add new tags when a comma or a space character is entered
        keepInvalidTags     : true,         // do not remove invalid tags (but keep them marked as invalid)
        editTags            : 1,            // single click to edit a tag
        maxTags             : 10,
        transformTag        : transformTag,
        backspace           : "invalid",
        placeholder         : "dont typing",
        dropdown : {
            enabled: 3,
        }
    })

    function getRandomColor(){
     function rand(min, max) {
        return min + Math.random() * (max - min);
    }

        var h = rand(1, 360)|0,
            s = rand(40, 70)|0,
            l = rand(65, 72)|0;

        return 'hsl(' + h + ',' + s + '%,' + l + '%)';
    }

    function transformTag( tagData ){
        tagData.style = "--tag-bg:" + getRandomColor();

        if( tagData.value.toLowerCase() == 'shit' )
           tagData.value = 's✲✲t'
    }

     tagify.on('add', add);

    function add(e){
        tagAjaxReq('/add',e.detail.data.value);
         $('tags').eq(1).attr('readonly',true);
    }


    tagify.on('invalid', function(e){
        console.log(e, e.detail);
    });
})
</script>
</body>
</html>